body {
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    display: flex;
    place-items: center;
    height: 30px;
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    color: whitesmoke; 
    background-color: rgb(96, 96, 226); 
    box-shadow: 0px 15px 39px -17px rgba(0,0,0,0.65);
    border-radius: 20px 20px 0 0;
}
.header p {
    margin-inline-start: 40px;
}
.main {
    width: 70%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid black;
    color: #333;
}
footer {
    background-color: rgb(37, 37, 89);
    color: rgb(114, 113, 113);
    width: 70%;
    padding: 0 20px;
    border: 1px solid black;
    margin: 0 auto;
    text-align: center;
    border-radius: 0 0 20px 20px;
}